.expandedPrintWrapper {
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
    width: 75%;
    height: 90%;
    position: absolute;
    padding: 2em 0;
    top: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: default;
    overflow: scroll;
}

.closeButton {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    left: 90%;
}

.closeButton div{
    background-color: black;
    border-radius: 5px;
    width: 30px;
    height: 5px;
}

.close1{
    transform: rotate(45deg) translate(8px, 9px);
}

.close2{
    transform: rotate(-45deg) translate(1px, -3px);
}

form {
    border: 1px solid black;
}

.downloadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 40px;
    width: 150px;
    font-size: .9em;
    font-family: "Russo One", sans-serif;
    background-color: rgb(19, 73, 189);
    color: rgb(245, 245, 245);
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
}

.downloadButton img {
    height: 60%;
    padding-right: 5px;
}

.displaySettingSubject {
    cursor: pointer;
    margin-top: .5em;
    font-size: 1.3em;
}

.buttons,
.verifyButtons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
}

.verifyButtons {
    margin: 0 auto;
    width: 60%;
}

.updateButton,
.deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Russo One", sans-serif;
    font-size: 30px;
    width: 130px;
    height: 50px;
    margin-top: 1em;
    cursor: pointer;
    transition: .2s linear;
}

.updateButton:hover {
    background-color: rgb(5, 105, 9);
    color: rgb(226, 225, 225);
}

.deleteButton:hover {
    background-color: rgb(134, 23, 23);
    color: rgb(226, 225, 225);
}

#verifyMessage {
    margin-top: .8em;
}

#yesDelete,
#noDelete {
    margin: 0;
}

#yesDelete:hover {
    background-image: url('./../../images/fire.gif');
    background-size: cover;
}

#noDelete:hover {
    background-image: url('./../../images/sweat.gif');
    background-size: cover;
}



@media screen and (max-width: 500px) {
    .expandedPrintWrapper {
        width: 100%;
    }
}