.savedDesignsWrapper {
    background-image: url('../../images/background.jpg');
    background-size: cover;
}

.designs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    min-height: 80vh;
    background-color: rgb(10, 40, 104);
    margin: 0 auto;
}