.savedDesignsWrapper {
    background-image: url('../../images/background.jpg');
    background-size: cover;
}

.saved {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    color: rgb(245, 245, 245);
    padding: 1em 0;
}

.designs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    min-height: 100vh;
    background-color: rgb(10, 40, 104);
    margin: 0 auto;
    padding-bottom: 10em;
}

@media screen and (max-width: 500px) {
    .designs {
        width: 100%;
        padding: 0;
    }
}