.appWrapper {
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

header {
  display: grid;
  height: 12vh;
}

header .headerLogo {
  margin: auto;
  height: 12vh;
}


/* nav Bar */
.navBar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

.navBar li {
  list-style: none;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 2rem;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  transition: .6s ease-out;
}

.navBar li:hover {
  background-color: rgb(42, 32, 136);
  color: white;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  background-color: rgb(42, 32, 136);
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
}


@media screen and (max-width: 500px) {
  header h1 {
      font-size: 2em;
  }

  .navBar li {
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 1.2rem;
    padding: 10px 0;
  }
}
