.newDesignWrapper {
    width: 100%;
    margin: 0 auto;
    background-image: url('./../../images/background2.jpg');
    background-size: cover;
}

form {
    background-color: rgb(10, 40, 104);
    width: 70%;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLabel {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

.uploadWrapper {
    width: 200px;
    text-align: center;
    margin: 20px 0;
}

/* image div */

#printImg img {
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
}

#img {
    display: none;
}

/* settings windows */

.settings {
    border: 1px solid black;
    width: 60%;
    height: auto;
    min-height: 40rem;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* add setting section */

.settingsInput {
    height: 100%;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}

.settingsSubclass {
    border-bottom: 2px solid black;
}

.subClass {
    margin-left: 2em;
}

.subClass:hover {
    border: 1px solid rgb(10, 40, 104);
}

.subClassInput {
    width: 5em;
    margin-left: 2em;
}

#fillGapsBetweenWalls,
#infillPattern,
#supportPlacement {
    width: 7.5em;
}

.unit {
    display: inline;
    font-size: .9em
}

.settingsDisplay {
    background-color: rgb(229, 226, 226);
}