.newDesignWrapper {
    width: 100%;
    margin: 0 auto;
    background-image: url('./../../images/background.jpg');
    background-size: cover;
}

form {
    background-color: rgb(10, 40, 104);
    width: 70%;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* label design and image upload */

.mainLabel {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

#title,
#machineUsed,
#printTime {
    text-align: center;
    font-size: 1.5em;
    font-family: "Russo One", sans-serif;
}

#machineUsed {
    margin-bottom: .5em;
}

#printTime {
    width: 3em;
}

.uploadWrapper {
    width: 200px;
    text-align: center;
    margin: 20px 0;
}

/* image upload */

#printImg img {
    width: 100%;
    border-radius: 2px;
    padding-bottom: .5em;
    cursor: pointer;
}

#img {
    display: none;
}

/* file upload */

.uploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 40px;
    width: 150px;
    font-size: .8em;
    font-family: "Russo One", sans-serif;
    background-color: rgb(19, 73, 189);
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
}

.uploadButton img {
    height: 60%;
    padding-right: 10px;
}

.listFile {
    font-size: .5em;
}

#printFile {
    display: none;
}

/* settings */

.settings {
    border: 1px solid black;
    background-color: rgb(245, 245, 245);
    width: 60%;
    min-height: 40rem;
    margin: 20px 0;
}

.settingSubject {
    cursor: pointer;
    margin-top: .5em;
    font-size: 1.3em;
    padding-left: 3em;
}

.settingSubject:hover {
    background-color: rgb(226, 225, 225);
}

/* arrow animations */

.arrowIcon,
.rotateArrow {
    height: 1em;
    margin: auto 0;
    pointer-events: none;
    transition: .3s linear;
}

.rotateArrow {
    transform: rotate(90deg);
}

/* settings slide in animations */

.settingsSubclass {
    opacity: 0;
    height: 0;
    pointer-events: none;
    transform: translateX(12em);
    margin-bottom: 1em;
}

.displaySubclass {
    opacity: 1;
    transform: translateX(8em);
    transition: .5s ease-in;
}

.subclass {
    font-weight: 600;
}

.subclass:hover {
    border: 1px solid rgb(10, 40, 104);
}

.subClassInput {
    width: 5em;
    margin-left: 1em;
}

#fillGapsBetweenWalls,
#infillPattern,
#supportPlacement,
#printSequence {
    width: 7.5em;
}

.unit {
    display: inline;
    font-size: .9em
}

.loading {
    height: 80%;
}

#submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Russo One", sans-serif;
    font-size: 30px;
    width: 100px;
    height: 50px;
    margin-top: 1em;
    cursor: pointer;
    transition: .2s linear;
}

#submitButton:hover {
    background-color: rgb(5, 105, 9);
    color: rgb(226, 225, 225);
}

@media screen and (max-width: 1000px){
    .settings {
        width: 100%;
    }

    .settingSubject {
        padding-left: 0;
    }

    .subclass {
        margin-left: .5em;
    }
}